#title {
  background-color: #ff4c68;
  height: 600px;
    /* z-index: -1 */
}
.brand_{
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  margin-bottom: 10px
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
/* body{
    background-color: #ff4c68;
} */
.container-fluid{
  padding: 3% 15%;
}
.btn{
  margin-right: 10px;
  margin-top: 50px;
}
.fab{
  margin-right: 5px;
  position: relative;
  right: 4px;
  font-size: 30px;
}
.navbar{
  padding-top: 0px;
  padding-left: 0px;
}
.phone{
  transform: rotate(30deg);
  position: absolute;
  top: 20px;
  width: 60%;
}
.nav-item{
  padding: 0 18px 20px;
}
.feature{
  text-align: center;
}
.fas{
  font-size: 60px;
  color:#ef8172;
}
#features{
  /* z-index: 1; */
height: 400px;
margin: 0px auto 40px;
background-color: white;
position: relative;
/* bottom: 300px; */
padding-top: 150px;
  /* z-index: 1;
  height:300px;
  margin: 60px auto 40px;
  background-color: white;
  position: relative;
  bottom: 300px;
  padding-top: 200px; */
}
.feature-title{
  font-family: "Montserrat";
  line-height: 1.5;

}
.detail{
  color: #8f8f8f;
}
.fas:hover{
  color:  #ff4c68;
}
.testi{
  text-align: center;
}
.anim-name{
  display: block;
  font-weight: bolder;
  color:white;
}
.companies{
  padding: 30px 15px;
}
#testimonials{
  background-color: #ef8172;
  padding: 100px 0px;

}
#press{
  background-color: #ef8172;
  padding: 7% 7%;
  text-align: center;
}
.dog-pic{
  padding: 30px 0px;
  border-radius: 50%;
}
.dog-statement{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: white;
}
.arrow1{
  margin-right: 100px;
}
.arrow2{
  margin-left: 100px
}
.card-deck{
  padding: 30px;
}
.mastiff{
  line-height: 0.9;
}
#pricing{
  padding: 30px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%
}
@media (max-width: 1146px) {
  .phone{
    position: static;
    transform: rotate(0);
  }
  #features{
    position: static;
  }
  #testimonials{
    margin-top: 300px;
  }
  #title{
    text-align: center;
    height: 65%;
  }
}
#cta {
  text-align: center;
  background-color:  #ff4c68;
  padding :200px 150px;
}
.last{
  margin-bottom: 80px;
  font-size: 4rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
#footer{
  text-align: center;
  padding: 100px 300px;
}
.last-btn{
  margin-top: 10px;
}
.last-icon{
  font-size: 1rem;
  margin: 10px;
}
.brand-name{
  font-size: 2.5rem;
}
